extends layout

block content
  div.container
    h2
      | Supreme Court Dockets
    div 
      div
        h4 Get dockets from server
      div
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          form#petiton-granted(method="get" action="/active_cases")
            input(type="submit" value="Active cases")        
          form#petiton-granted(method="get" action="/all_cases")
            input(type="submit" value="All cases")
          form#petiton-granted(method="get" action="/amicus_curiae")
            input(type="submit" value="Cases with amicus curiae")
          form#petiton-granted(method="get" action="/petitions_granted")
            input(type="submit" value="Petitions granted")
          form#petiton-denied(method="get" action="/petitions_denied")
            input(type="submit" value="Petitions denied")
          form#year_collection(method="get" action="/year/17")
            input(type="submit" value="Docket year 17")
          form#year_collection(method="get" action="/year/18")
            input(type="submit" value="Docket year 18")
          form#year_collection(method="get" action="/year/19")
            input(type="submit" value="Docket year 19")
          form#oa_collection(method="get" action="/original_actions")
            input(type="submit" value="Original Actions")            
        br
        br
      div
        h4= search_type
      div
        h6#num_rows_in_tbl
      div 
        h6
          | Find within results:
        input#search-table(type="text" placeholder="Search...")
        br
        br        
      div
        h6
          | add / remove columns
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          //a#toggle_dkt_yr Docket year
          a#toggle_date_retrieved Date retrieved
          a#toggle_date_docketed Date docketed
          a#toggle_lwr_ct Lower court
          a#toggle_lwr_ct_dec_dt Date of lower court decision(s)
          a#toggle_lwr_ct_cs_num Lower court case number
          a#toggle_latest_proceeding Latest proceeding
          a#toggle_proceedings Proceedings
          a#toggle_contacts Contacts
        br
      div
        h6
          | hide / show 
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          div.form-check
            input#toggleIFPCases.form-check-input(type="checkbox")
            label.form-check-label(for="toggleIFPCases") Show / Hide IFP Cases
          div.form-check            
            input#toggleApplications.form-check-input(type="checkbox")
            label.form-check-label(for="toggleApplications") Show / Hide Applications
          div.form-check            
            input#toggleMotions.form-check-input(type="checkbox")
            label.form-check-label(for="toggleMotions") Show / Hide Motions
  div.container
    table#docket-table.table-hover.table.table-bordered.table-sm(cellspacing="0" width="100%")
      thead.thead-dark
        tr
          th.th-sm.date_retrieved_header(style="display:none") Date retrieved from Scotus Site        
          th.th-sm.dkt_yr_header(style="display:none") Docket year
          th.th-sm.dkt_shrt_header(style="display:none") Short docket number
          
          th.th-sm.docket-sort Docket
          th.th-sm.case_name_header Case
          th.th-sm.date_docketed_header(style="display:none") Date Docketed       
          th.th-sm.lower_court_header(style="display:none") Lower Court
          th.th-sm.lower_court_case_number_header(style="display:none")= 'Lower court case number'
          th.th-sm.lower_court_decision_dates_header(style="display:none") Lower Ct Decision
          th.th-sm.latest_proceeding_header Latest proceeding
          th.th-sm.proceedings_header(style="display:none") Proceedings
          th.th-sm.contacts_header(style="display:none") Contacts
      tbody
        if docket_list != null
          each d in docket_list
            tr#docket-rows
              td.td-sm.date_retrieved(style="display:none")= prettyDate(d.date_retrieved)            
              td.td-sm.dkt_yr(style="display:none")= d.docket_year
              td.td-sm.dkt_shrt(style="display:none")= d.docket_number_short
              td.td-sm.docket_number
                span
                  a(href=d.web_address target="_blank")
                    p= d.docket_number
              td.td-sm.case_name= d.case_name
              td.td-sm.date_docketed(style="display:none")= d.date_docketed_string
              td.td-sm.lower_court(style="display:none")= d.lower_court
              td.td-sm.lower_court_case_number(style="display:none")= d.lower_court_case_number
              td.td-sm.lower_court_decision_dates(style="display:none")
                div
                if d.lower_court_case_decision_date_string != ""
                  p(style="font-style:italic") Decision:
                  p= d.lower_court_case_decision_date_string
                if d.lower_court_case_rehearing_denied_date_string != ""
                  p(style="font-style:italic") Rehearing denied:
                  p= d.lower_court_case_rehearing_denied_date_string
                if d.lower_court_discretionary_court_decision__date_string != ""
                  p(style="font-style:italic") Discretionary date:
                  p= d.lower_court_discretionary_court_decision__date_string
              td.td-sm.latest_proceeding
                div
                  span= d.proceeding[d.proceeding.length - 1].date_string
                  br
                  span= d.proceeding[d.proceeding.length - 1].text
                  each lnk in d.proceeding[d.proceeding.length - 1].links
                    br
                    span
                      a(href=lnk.url target="_blank")= lnk.title
              td.td-sm.proceedings(style="display:none")
                each p in d.proceeding
                  ul
                    //li= p.itm_num
                    li
                      span <strong>
                      span= p.date_string
                      span </strong><br>
                      span= p.text
                    each lnk in p.links
                      li
                        span
                          a(href=lnk.url target="_blank")= lnk.title
              td.td-sm.contacts(style="display:none")
                each c in d.contact
                  ul
                    li
                      p.contactlist(style='font-weight:bold;')= c.attorney_full_name
                      if c.is_counsel_of_record
                        p.contactlist(style="padding-left:10px;font-style:italic;") Counsel of Record
                      if c.attorney_office != ''
                        p.contactlist= c.attorney_office
                      if c.attorney_street_address != ''
                        p.contactlist(style='white-space:pre;')= c.attorney_street_address
                      if c.attorney_city_state_zip != ''
                        p.contactlist= c.attorney_city_state_zip
                      if c.attorney_email != ''
                        p.contactlist= c.attorney_email
                      if c.party_header != ''
                        if /Attorneys? for/.test(c.party_header)
                          p.contactlist(style='font-style:italic')= c.party_header
                          if c.party_name != ''
                            p.contactlist(style="padding-left:10px;font-style:italic;")= c.party_name
                        else
                          if c.party_name != ''
                            p.contactlist(style='font-style:italic') Attorneys for
                            p.contactlist(style="padding-left:10px;font-style:italic;")= c.party_name
