extends layout

block content
  div.container
    h2
      | Supreme Court Dockets
    div 
      div
        h4 Get dockets from server
      div
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          form#petiton-granted(method="get" action="/active_cases")
            input(type="submit" value="Active cases")        
          form#petiton-granted(method="get" action="/all_cases")
            input(type="submit" value="All cases")
          form#petiton-granted(method="get" action="/amicus_curiae")
            input(type="submit" value="Cases with amicus curiae")
          form#petiton-granted(method="get" action="/petitions_granted")
            input(type="submit" value="Petitions granted")
          form#petiton-denied(method="get" action="/petitions_denied")
            input(type="submit" value="Petitions denied")
          form#year_collection(method="get" action="/year/17")
            input(type="submit" value="Docket year 17")
          form#year_collection(method="get" action="/year/18")
            input(type="submit" value="Docket year 18")
          form#year_collection(method="get" action="/year/19")
            input(type="submit" value="Docket year 19")
          form#oa_collection(method="get" action="/original_actions")
            input(type="submit" value="Original Actions")            
        br
        br
      div
        h4= search_type
      div
        h6
          span= docket_list.length
      div
        h6
          | add / remove columns
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.toggle-vis(data-column="0") Date retrieved from Scotus Site
          //a.toggle-vis(data-column="1") Docket year
          //a.toggle-vis(data-column="2") Docket number (short)
          a.toggle-vis(data-column="3") Docket number
          a.toggle-vis(data-column="4") Case name
          a.toggle-vis(data-column="5") Date docketed
          a.toggle-vis(data-column="6") Lower court
          a.toggle-vis(data-column="7") Lower court case number
          a.toggle-vis(data-column="8") Lower court decision dates
          a.toggle-vis(data-column="9") Latest proceeding
          a.toggle-vis(data-column="10") Proceedings
          a.toggle-vis(data-column="11") Contacts

          //.column(0).visible(false) // .date_retrieved
          //.column(1).visible(false) // .dkt_yr
          //.column(2).visible(false) // .dkt_shrt
          //.column(3).visible(true) // .docket_number
          //.column(4).visible(true) // .case_name
          //.column(5).visible(false) // .date_docketed
          //.column(6).visible(false) // .lower_court
          //.column(7).visible(false) // .lower_court_case_number
          //.column(8).visible(false) // .lower_court_decision_dates
          //.column(9).visible(true) // .latest_proceeding
          //.column(10).visible(false) // .proceedings
          //.column(11).visible(false) // .contacts          
        br
      //div
        h6
          | hide / show 
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          div.form-check
            input#toggleIFPCases.form-check-input(type="checkbox")
            label.form-check-label(for="toggleIFPCases") Show / Hide IFP Cases
          div.form-check            
            input#toggleApplications.form-check-input(type="checkbox")
            label.form-check-label(for="toggleApplications") Show / Hide Applications
          div.form-check            
            input#toggleMotions.form-check-input(type="checkbox")
            label.form-check-label(for="toggleMotions") Show / Hide Motions
  div.container
    table#docket-table.table-hover.table.table-bordered.table-sm(cellspacing="0" width="100%")
      thead.thead-dark
        tr
          th.th-sm.date_retrieved_header Date retrieved from Scotus Site        
          th.th-sm.dkt_yr_header Docket year
          th.th-sm.dkt_shrt_header Short docket number
          
          th.th-sm.docket-sort Docket
          th.th-sm.case_name_header Case
          th.th-sm.date_docketed_header Date Docketed       
          th.th-sm.lower_court_header Lower Court
          th.th-sm.lower_court_case_number_header= 'Lower court case number'
          th.th-sm.lower_court_decision_dates_header Lower Ct Decision
          th.th-sm.latest_proceeding_header Latest proceeding
          th.th-sm.proceedings_header Proceedings
          th.th-sm.contacts_header Contacts
      tbody
        if docket_list != null
          each d in docket_list
            tr#docket-rows
              td.td-sm.date_retrieved= prettyDate(d.date_retrieved)
              td.td-sm.dkt_yr= d.docket_year
              td.td-sm.dkt_shrt= d.docket_number_short
              td.td-sm.docket_number
                span
                  a(href=d.web_address target="_blank")
                    p= d.docket_number
              td.td-sm.case_name= d.case_name
              td.td-sm.date_docketed= d.date_docketed_string
              td.td-sm.lower_court= d.lower_court
              td.td-sm.lower_court_case_number= d.lower_court_case_number
              td.td-sm.lower_court_decision_dates
                div
                if d.lower_court_case_decision_date_string != ""
                  p(style="font-style:italic") Decision:
                  p= d.lower_court_case_decision_date_string
                if d.lower_court_case_rehearing_denied_date_string != ""
                  p(style="font-style:italic") Rehearing denied:
                  p= d.lower_court_case_rehearing_denied_date_string
                if d.lower_court_discretionary_court_decision__date_string != ""
                  p(style="font-style:italic") Discretionary date:
                  p= d.lower_court_discretionary_court_decision__date_string
              td.td-sm.latest_proceeding
                div
                  span= d.proceeding[d.proceeding.length - 1].date_string
                  br
                  span= d.proceeding[d.proceeding.length - 1].text
                  each lnk in d.proceeding[d.proceeding.length - 1].links
                    br
                    span
                      a(href=lnk.url target="_blank")= lnk.title
              td.td-sm.proceedings
                each p in d.proceeding
                  ul
                    //li= p.itm_num
                    li
                      span <strong>
                      span= p.date_string
                      span </strong><br>
                      span= p.text
                    each lnk in p.links
                      li
                        span
                          a(href=lnk.url target="_blank")= lnk.title
              td.td-sm.contacts
                each c in d.contact
                  ul
                    li
                      p.contactlist(style='font-weight:bold;')= c.attorney_full_name
                      if c.is_counsel_of_record
                        p.contactlist(style="padding-left:10px;font-style:italic;") Counsel of Record
                      if c.attorney_office != ''
                        p.contactlist= c.attorney_office
                      if c.attorney_street_address != ''
                        p.contactlist(style='white-space:pre;')= c.attorney_street_address
                      if c.attorney_city_state_zip != ''
                        p.contactlist= c.attorney_city_state_zip
                      if c.attorney_email != ''
                        p.contactlist= c.attorney_email
                      if c.party_header != ''
                        if /Attorneys? for/.test(c.party_header)
                          p.contactlist(style='font-style:italic')= c.party_header
                          if c.party_name != ''
                            p.contactlist(style="padding-left:10px;font-style:italic;")= c.party_name
                        else
                          if c.party_name != ''
                            p.contactlist(style='font-style:italic') Attorneys for
                            p.contactlist(style="padding-left:10px;font-style:italic;")= c.party_name
